{% extends "base.html" %}
{% block content %}
  <!-- Page Content -->
  <div class="container mt-5">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <article>
          <!-- Title -->
          <h1 class="mt-4">{{object.title|capfirst}}</h1>
          <hr>
          {% if object.pagecontent_set.all %}
            <!-- Post Content -->
              <ol>
                {% for content in object.pagecontent_set.all %}
                  <li class="mb-2" value="{{content.number}}" id="{{content.number}}">{{content.content|safe}}</li>
                {% endfor %}
              </ol>
          {% endif %}
          
          {% if object.content_set.all %}
            <!-- Post Content -->
            <ol>
              {% for content in object.content_set.all %}
                <li class="mb-2" value="{{content.number}}" id="{{content.number}}">{{content.content|safe}}</li>
              {% endfor %}
            </ol>
            
          {% endif %}
        </article>
      </div>
      {% include "sidebar.html" %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock content %}